<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SteamPath" value="C:\Games\Steam\" />
		<add key="GamePath" value="E:\Games\SteamLibrary\steamapps\common\Carrion" />
		<add key="CustomMapsPath" value="D:\Games\Modding\Carrion\Custom Maps" />
		<add key="AppDataPath" value="C:\Users\Lukas\AppData\LocalLow\Phobia\Carrion\_steam_76561198005920438" />
	</appSettings>
</configuration>